{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\styles.css' %}"> 
    <title>Sentiment Analysis</title>
</head>
<body>
    <div style = "margin:20px; text-align: center;">
        <h2>Sentiment Analysis Results of the fields are given below:</h2>
        <br>
        <div class="user-box">
            <label>Sentiment Analysis of field <b>Education system</b> is 
                {% comment %} <p class="alert alert-danger" role="alert"> {% endcomment %}
                    {{sentiment1}}.
                {% comment %} </p> {% endcomment %}
            </label>
        </div>
        <br><br>
        <div class="user-box">
            <label>Sentiment Analysis of field <b>Crime management </b>is {{sentiment2}}.</label>
        </div>
        <br><br>
        <div class="user-box">
            <label>Sentiment Analysis of field <b>Transport system </b> is {{sentiment3}}.</label>
        </div>
        <br><br>
        <div class="user-box">
            <label>Sentiment Analysis of field <b>Hygiene</b> is {{sentiment4}}.</label>
        </div>
        <br><br>
        <div class="user-box">
            <label>Sentiment Analysis of field <b>Health </b> is {{sentiment5}}.</label>
        </div>
    </div>
</body>
</html>