<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form method="POST" action="/feedback/">
        {% csrf_token %}
        <input type ="text" name ="field1"> <br> <br>
        <input type ="text" name ="field2"> <br> <br>
        <input type ="text" name ="field3"> <br> <br>
        <input type ="text" name ="field4"> <br> <br>
        <input type ="text" name ="field5"> <br> <br>
        <input type = 'submit'>Analyse</input>
      </form>
</body>
</html>